@import "../../../variables.css";

.button {
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}
.prev::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    content: "";
    border: 2px solid transparent;
    border-left-color: var(--grey);
    border-top-color: var(--grey);
    transform-origin: 0 0;
    transform: rotate(-45deg) translateY(-50%) translateX(-50%);
}
.prev::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    content: "";
    background-color: var(--grey);
    transform: translateY(-50%) translateX(-20%);
}

.next {
    right: 0;
}
.next::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    content: "";
    border: 2px solid transparent;
    border-left-color: var(--grey);
    border-top-color: var(--grey);
    transform-origin: 0 0;
    transform: rotate(135deg) translateY(-50%) translateX(-50%);
}
.next::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    content: "";
    background-color: var(--grey);
    transform: translateY(-50%) translateX(-80%);
}
